@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400&family=Mulish:ital,wght@0,200;0,300;0,500;1,200;1,300;1,400&family=Oswald:wght@500;600&family=Pacifico&family=Press+Start+2P&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,6);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.9;
    animation: zoom 15s;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    left: 5%;
    right: 10%;
    top: 5%;
    bottom: 10%;
}

.banner h1{
    color: #fff;
    font-size: 3.5rem;
    font-family: "Bad+Script", serif;
    font-weight: 200;
    text-shadow: .2rem .2rem 3px rgba(0, 0, 0, .9);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 1;
    animation: moveBanner 1s 0.5s;
}

.banner p{
    color: #fff;
    font-size:2rem;
    font-family:  "Mulish", serif;
    text-shadow: .2rem .1rem rgba(0, 0, 0, .9);
    margin-bottom: 1rem;
    opacity: 1;
    animation: moveBanner 1s 0.7s;
}

.banner button{
    font-family: "Mulish", serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #36325e;
    background: -webkit-linear-gradient(to right, #24243e, #302b63,#0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 0.4rem 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    animation: moveBanner 1s 0.9s;
}
 .banner button:hover{
     opacity: 0.7;
     color:aqua;
 }
 .banner p:hover{
    opacity: 0.7;
    color:aqua;
 }
 .banner h1:hover{
    opacity: 0.7;
    color:aqua;
 }

 @keyframes moveBanner{
     0%{
        transform: translateY(10rem) rotateY(.35deg);
        opacity: 0;
     }
     100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
     }
 }